<div class="bar bar-subheader bar-positive" ng-controller="backController">
    <div class="row row-center">
        <div class="col" style="padding-top:0px; "><button class="button button-light" ng-click="myGoBack()" style="margin-top:-5px;"><i class="icon ion-android-arrow-back"></i></button></div>
        <div class="col col-50 text-center"><h2 class="title">Crédits</h2></div>
        <div class="col text-right"></div>
    </div>
</div>
<ion-content class="padding" style="padding-top:50px; color:#444;">
    <div class="text-center" style="font-size:16px;">
        <p style="text-decoration:underline"> Créé par </p>
        
        <div style="text-align:center" class="row">
            <div class="col">  
                <img src="img/Logo-Lutin-complet-Pantone.gif" width="90%" alt="logo lutin">
            </div>
        </div>
        
        <p style="text-align:center">
            <a href="#" onclick="window.open('http://www.lutin.lu', '_system', 'location=yes'); return false;">www.lutin.lu</a><br>
            <a href="#" onclick="window.open('http://www.lutin-technologies.com', '_system', 'location=yes'); return false;"> www.lutin-technologies.com</a>
        </p>
           
        <p style="text-align:center">
            Sur une idée de Charly Piva (alias "Zoglu")
        </p>
        <p style="text-align:center">
            <a href="#" onclick="window.open('http://www.zoglu.net/haddock/', '_system', 'location=yes'); return false;">http://www.zoglu.net/haddock/</a>
        </p>
        
        <p ng-controller="backController"><button class="button icon-left ion-android-arrow-back button-positive" ng-click="myGoBack()">Retour</button></p>
    </div>
</ion-content>