<div class="bar bar-subheader bar-positive" ng-controller="backController">
    <div class="row row-center">
        <div class="col" style="padding-top:0px; "><button class="button button-light" ng-click="myGoBack()" style="margin-top:-5px;"><i class="icon ion-android-arrow-back"></i></button></div>
        <div class="col col-50 text-center"><h2 class="title">Menu Infos</h2></div>
        <div class="col text-right"></div>
    </div>
</div>
<ion-content class="padding" style="padding-top:50px; color:#444;">
    <div class="text-center" style="font-size:16px;">
        <ul class="list" style="text-align:justify">
            <li class="item"><a href="#/credits">CREDITS</a></li>
            <li  class="item"><a href="#/contacts">CONTACTS</a></li>
            <li  class="item"><a href="#/disclaimer">NOTRE POLITIQUE</a></li>
        </ul>
        
        <p ng-controller="backController"><button class="button icon-left ion-android-arrow-back button-positive" ng-click="myGoBack()">Retour</button></p>
    </div>
</ion-content>