<div class="bar bar-subheader bar-positive" ng-controller="backController">
    <div class="row row-center">
        <div class="col" style="padding-top:0px; "><button class="button button-light" ng-click="myGoBack()" style="margin-top:-5px;"><i class="icon ion-android-arrow-back"></i></button></div>
        <div class="col col-50 text-center"><h2 class="title">A Savoir</h2></div>
        <div class="col text-right"></div>
    </div>
</div>
<ion-content class="padding" style="padding-top:50px; color:#444;">
    <div class="text-center" style="font-size:16px;">
        <p> A court d'inspiration lors d'un affrontement verbal ? Demandez au Capitaine Haddock et copiez sa réplique ! </p>
        
        <p> <a href="#" title="Capitaine Haddock" onclick="window.open('http://fr.wikipedia.org/wiki/Capitaine_Haddock', '_system', 'location=yes'); return false;">Le Capitaine Haddock</a> est un personnage imaginaire issu des <a href="#" title="Les aventures de Tintin" onclick="window.open('http://fr.wikipedia.org/wiki/Les_Aventures_de_Tintin', '_system', 'location=yes'); return false;">Aventures de Tintin</a>, série de BD créée par <a href="#" title="Georges Rémi alias Hergé" onclick="window.open('http://fr.wikipedia.org/wiki/Herg%C3%A9', '_system', 'location=yes'); return false;">Georges RÉMI alias Hergé</a> (1907-1983). Les insultes et jurons sont extraits de <a href="#" title="Wikipedia" onclick="window.open('http://fr.wikipedia.org/wiki/Vocabulaire_du_capitaine_Haddock', '_system', 'location=yes'); return false;">Wikipédia</a>.</p>
        
        <p> Lutin Technologies décline par avance tout usage offensant des insultes et jurons présentés dans cette appli. <a href="#/disclaimer" title="Disclaimer">Voyez ici</a>.  </p>
        
        <p ng-controller="backController"><button class="button icon-left ion-android-arrow-back button-positive" ng-click="myGoBack()">Retour</button></p>
    </div>
</ion-content>